.DS_Store
.idea
.gradle
grafana.db
*.bak
build
jmxterm.jar
/connect/secrets/aws.properties

/tmp
/*/data/*
/ksqlDB/ext/*
/connect/jars/*
/connect/tmp/*
/druid/storage/*
/druid/staging/*
/flink/jars/*
/flink/tmp/*

